In [1]:
import env
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import wrangle
import os
import sys

In [2]:
# df=wrangle.wrangle()
df = pd.read_csv('sql_pull.csv')

In [3]:
# df.to_csv('sql_pull.csv')

In [4]:
df.head()

,date_time,date,time,endpoint,user_id,cohort_id_x,source_ip,cohort_name,cohort_start,cohort_end,program_id,number_of_classes,date_time.1,days_after_grad,program
0,2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:55:03,720 days,php_web_dev
1,2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:02,720 days,php_web_dev
2,2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:05,720 days,php_web_dev
3,2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:06,720 days,php_web_dev
4,2018-01-26 10:40:15,2018-01-26,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 10:40:15,720 days,php_web_dev

In [5]:
df.date_time = pd.to_datetime(df.date_time)
df = df.set_index(df.date_time)
df.head()

,date_time,date,time,endpoint,user_id,cohort_id_x,source_ip,cohort_name,cohort_start,cohort_end,program_id,number_of_classes,date_time.1,days_after_grad,program
date_time,,,,,,,,,,,,,,,
2018-01-26 09:55:03,2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:55:03,720 days,php_web_dev
2018-01-26 09:56:02,2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:02,720 days,php_web_dev
2018-01-26 09:56:05,2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:05,720 days,php_web_dev
2018-01-26 09:56:06,2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:06,720 days,php_web_dev
2018-01-26 10:40:15,2018-01-26 10:40:15,2018-01-26,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 10:40:15,720 days,php_web_dev

In [6]:
df.index.max(), df.index.min()

(Timestamp('2021-04-21 16:44:39'), Timestamp('2018-01-26 09:55:03'))

In [7]:
df[df.program_id ==3].cohort_name.value_counts()

Darden      32015
Bayes       26538
Curie       21582
Easley      14715
Florence     8562
Name: cohort_name, dtype: int64

program_id 3 is full stack java
4 is front end
2 is full stack java??

In [9]:
df.endpoint.sample(50)

date_time
2019-09-04 13:32:16               content/git/gitbook/images/favicon.ico
2020-12-01 18:05:05                                    javascript-ii/es6
2020-10-05 14:26:51                                    slides/console_io
2019-10-11 09:04:25             1-fundamentals/1.1-intro-to-data-science
2021-04-08 14:40:06                      examples/css/css_selectors.html
2018-07-11 09:49:11                             mkdocs/search_index.json
2020-07-08 09:52:29                                  mysql/clauses/where
2021-01-24 22:25:33                html-css/css-ii/bootstrap-grid-system
2018-06-19 14:45:52                     javascript-i/arrays/manipulating
2021-04-21 10:01:41                           anomaly-detection/overview
2020-11-09 11:22:34                                  mysql/clauses/where
2020-11-12 13:34:29                                   java-iii/passwords
2018-02-07 21:03:31            javascript-i/introduction/primitive-types
2018-06-01 15:55:21                                    html-css/elements
2021-01-20 09:07:19                          java-i/introduction-to-java
2020-03-31 15:18:21    appendix/further-reading/spring/security-use-c...
2020-07-12 11:59:18                        appendix/ds-environment-setup
2020-04-15 16:44:02    10-anomaly-detection/AnomalyDetectionCartoon.jpeg
2019-09-25 13:38:01                   html-css/css-i/grid/css-grid-intro
2018-02-21 20:11:50                                                    /
2018-06-20 12:25:01               spring/fundamentals/form-model-binding
2020-05-27 21:17:20     appendix/professional-development/t-block-resume
2019-06-10 10:42:21                                            Exercises
2020-10-02 11:07:47                       regression/feature-engineering
2018-09-12 14:45:30                                                  toc
2021-03-16 11:18:28                             search/search_index.json
2019-01-17 11:00:46              java-ii/interfaces-and-abstract-classes
2020-11-02 09:21:51                          timeseries/modeling-lesson2
2020-10-07 12:08:47                                   javascript-i/loops
2020-03-30 09:11:33                                       html-css/css-i
2018-08-07 13:05:01                    javascript-i/javascript-with-html
2020-07-14 13:47:34                                      mysql/databases
2020-02-24 08:36:27                                  mysql/relationships
2020-02-18 10:37:57                     javascript-i/arrays/manipulating
2018-10-01 07:09:00                       content/html-css/elements.html
2021-03-08 10:05:14                          html-css/css-i/introduction
2018-06-28 14:31:17                                  jquery/introduction
2018-03-22 11:05:28                   slides/deployment_and_dependencies
2020-11-17 23:14:53               appendix/further-reading/spring/seeder
2019-01-25 11:47:37                      examples/css/css_selectors.html
2019-07-16 15:22:59                                html-css/introduction
2021-01-14 09:44:51                                       mysql/intellij
2018-04-02 13:02:34                                         mysql/tables
2021-04-15 14:44:54                           python/advanced-dataframes
2020-12-15 09:06:36                                                    /
2020-02-20 19:13:54                  javascript-i/bom-and-dom/dom-events
2018-11-02 15:24:04                           appendix/capstone-workbook
2019-10-31 16:01:37                            6-regression/5.0-evaluate
2018-06-08 08:16:42                    examples/css/bootstrap-grids.html
2019-02-24 05:53:47                    examples/css/bootstrap-grids.html
Name: endpoint, dtype: object