In [5]:
import env
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [6]:
import sys

for path in sys.path:
    print(path)

/Users/jaredgodar/codeup-data-science/board-slide-research/working_notebooks
/Users/jaredgodar/.vscode/extensions/ms-toolsai.jupyter-2021.11.1001550889/pythonFiles
/Users/jaredgodar/.vscode/extensions/ms-toolsai.jupyter-2021.11.1001550889/pythonFiles/lib/python
/opt/homebrew/anaconda3/lib/python38.zip
/opt/homebrew/anaconda3/lib/python3.8
/opt/homebrew/anaconda3/lib/python3.8/lib-dynload

/Users/jaredgodar/.local/lib/python3.8/site-packages
/opt/homebrew/anaconda3/lib/python3.8/site-packages
/opt/homebrew/anaconda3/lib/python3.8/site-packages/aeosa
/opt/homebrew/anaconda3/lib/python3.8/site-packages/locket-0.2.1-py3.8.egg
/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/extensions
/Users/jaredgodar/.ipython

In [2]:
df=wrangle.wrangle()

Reading data from SQL server....
(This usually takes a while...)
Data read.
Adding number of programs completed...
Converting datatypes and reindexing on datetime....
Adding columns for days after graduation and program name.
Data is acquired, prepared, and wrangling complete.

In [3]:
df.head()

,date,time,endpoint,user_id,cohort_id_x,source_ip,cohort_name,cohort_start,cohort_end,program_id,number_of_classes,date_time,days_after_grad,program
date_time,,,,,,,,,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:55:03,720 days,php_web_dev
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:02,720 days,php_web_dev
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:05,720 days,php_web_dev
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 09:56:06,720 days,php_web_dev
2018-01-26 10:40:15,2018-01-26,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1,2,2018-01-26 10:40:15,720 days,php_web_dev